@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  font-family: "Helvetica Neue" !important;
  padding: 0px !important;
}

*{
  outline: none !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
